{% extends "home/layout/layout.html" %}
{% load static %}
{% block content %}
{% if files %}
  <h1>Files</h1>
{% endif %}
<div style="display: flex; justify-content: space-between; padding: 5px 10px;">
    <div class="">
      <div class="container py-3">
        <div class="row">
          <!--  -->
          {% if files %}
            {% for i in files %}
            <div class="col-sm">
              <div class="card mb-4" style="width: 18rem">
                <div class="card-body">
                  <h4 class="card-title">{{i.filetitle}}</h4>
                  <a href="{{i.file.url}}" download="{{i.file}}" class="btn btn-outline-primary mr-2">Download</a>
                  <a href="#" class="btn btn-outline-primary qr-trigger mr-2" data-qrdata="{{ i.file.url }}" data-fileid="{{ i.id }}">QR Code</a>
                  <div class="qr-tooltip" id="qr-tooltip">
                      <img id="qr-image" src="{% url 'generate_qr_code' i.id %}" alt="Error Fetching Url">
                  </div>
                  {% comment %} <img src="{% url 'generate_qr_code' i.id %}" alt="QR Code for {{ i.name }}"> {% endcomment %}
                </div>
              </div>
            </div>
            {% endfor %}
          {% else %}
            <h2>No Files Yet</h2>
          {% endif %}
          <!--  -->
        </div>
      </div>
    </div>
    <div class="">
      <!-- Button trigger modal -->
      <div class="d-flex">
        <button
          type="button"
          class="btn btn-outline-primary mr-2"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Upload
        </button>
        <a>
          <button
          type="button"
          class="btn btn-outline-primary btn-block"
          id="add-folder-button"
          >
            Add Folder
          </button>
        </a>
      </div>
    </div>
      
    <div class="">
      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Upload</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form action="{% url 'folder' folderid %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <div class="mb-3">
                  <label for="file_name" class="form-label"
                    >Name</label
                  >
                  <input
                    type="file"
                    class="form-control"
                    id="file_name"
                    name="file"
                  />
                  <label for="file_title" class="form-label"
                    >Title</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="file_title"
                    name="filetitle"
                  />
                  <button class="btn btn-outline-success my-3">
                    Upload
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}
  {% block script %}
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const qrTriggers = document.querySelectorAll('.qr-trigger');
        const qrTooltip = document.querySelector('.qr-tooltip');
        const qrImage = document.getElementById('qr-image'); 
    
        qrTriggers.forEach(qrTrigger => {
            qrTrigger.addEventListener('click', function(event) {
                event.preventDefault(); 
                // Get the data-qrdata attribute containing the file URL
                const qrData = qrTrigger.getAttribute('data-qrdata');
                const file_id = qrTrigger.getAttribute('data-fileid');
    
                // AJAX Request to Fetch QR
                fetch(`/generate_qr_code/${file_id}/`)
                    .then(response => response.blob()) 
                    .then(blob => {
                        // Create an object URL from the blob
                        const objectURL = URL.createObjectURL(blob);
                        
                        // Set the src attribute of the img element
                        qrImage.src = objectURL;
                        qrImage.alt = `QR Code for ${qrData}`;
    
                        // Adjust the dimensions of the tooltip div
                        qrTooltip.style.width = `${qrImage.width}px`;
                        qrTooltip.style.height = `${qrImage.height}px`;
    
                        // Show the tooltip -> Previously set to None
                        qrTooltip.style.display = 'block';

                        URL.revokeObjectURL(objectURL);
                    })
                    .catch(error => {
                        console.error('Error fetching QR code:', error);
                    });
            });
        });
    });    
    </script>  
  {% endblock script %}
    