{% extends "home/layout/layout.html" %}
{% block content %}
{% if folders %}
  <h1>Folders</h1>
{% else %}
  <h1>No Folders Yet</h1>
{% endif %}
<div style="display: flex; padding: 10px 10px; justify-content: space-between">
    <div class="">
      <div class="container py-3">
        <div class="row">
          {% for folder in folders %}
            <div class="card mb-4 mr-4" style="width: 22rem;">
              <div class="card-body">
                <h5 class="card-title">{{folder.name}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">By {{folder.owner}}</h6>
                <p class="card-text">{{folder.description}}</p>
                <a href="{% url 'folder' folderid=folder.id %}" class="card-link">Open Folder</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
{% endblock content %}