{% extends "home/layout/layout.html" %}
{% load static %}
{% block content %}
<div style="display: flex; justify-content: space-between; padding: 5px 10px;">
    <div class="">
      <div class="container py-3">
        <div class="row">
          <!--  -->
          {% if files %}
            {% for i in files %}
            <div class="col-sm">
              <div class="card mb-3" style="width: 18rem">
                <div class="card-body">
                  <h4 class="card-title">{{i.filetitle}}</h4>
                  <a href="{{i.file.url}}" download="{{i.file}}" class="btn btn-outline-primary mr-2">Download</a>
                  <a href="#" class="btn btn-outline-primary qr-trigger mr-2" data-qrdata="{{ i.file.url }}" data-fileid="{{ i.id }}">QR Code</a>
                  <div class="qr-tooltip" id="qr-tooltip">
                      <img id="qr-image" src="" alt="">
                  </div>
                  {% comment %} <img src="{% url 'generate_qr_code' i.id %}" alt="QR Code for {{ i.name }}"> {% endcomment %}
                </div>
              </div>
            </div>
            {% endfor %}
          {% else %}
            <h2>No Files Yet</h2>
          {% endif %}
          <!--  -->
        </div>
      </div>
    </div>
    <div class="">
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-outline-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Upload
      </button>
  
      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Upload</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form action="{% url 'folder' folderid %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Name</label
                  >
                  <input
                    type="file"
                    class="form-control"
                    id="exampleFormControlInput1"
                    name="file"
                  />
                  <label for="exampleFormControlInput1" class="form-label"
                    >Title</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="exampleFormControlInput1"
                    name="filetitle"
                  />
                  <button class="btn btn-outline-success my-3">
                    Upload
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}
  {% block body %}
    <script src="{% static 'iitr_drive/script.js' %}"></script>  
  {% endblock body %}
    